	@charset "utf-8";
.flexslider{
	width: 100%;
	text-align: center;
	position: relative;
}
.flexslider img{
	max-width: 100%;
}
.flexslider .flex-direction-nav li a{
	z-index: 20;
	position: absolute;
	width: 40px;
	height: 105px;
	bottom: 50%;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: url('../img/jian.png') no-repeat;
	text-indent: -99999px;
}
.flexslider .flex-direction-nav .flex-next{
	background-position: -49px 0;
	right:10%;
	top:42%;
}
.flexslider .flex-direction-nav .flex-next:hover{
	background-position: -49px -110px;
}
.flexslider .flex-direction-nav .flex-prev{
	background-position: 0 0;
	left: 10%;
	top:42%;
}
.flexslider .flex-direction-nav .flex-prev:hover{
	background-position: 0 -110px;
}
.flexslider .flex-control-paging{
	left: 42%;
  	bottom: 17px;
  	position: absolute;
}
.flexslider .flex-control-nav li{
	float: left;
	margin: 0 10px;
}
.flexslider .flex-control-nav li a{
	display: block;
	width: 35px;
	height: 6px;
	background-color: #DDDDDD;
	cursor: pointer;
	text-indent: -99999px;
}
.flexslider .flex-control-nav .flex-active{
	background-color: #555;
}
.clearfix:before,.clearfix:after{ 
	display: table;
	line-height: 0;
	content: "";
	clear: both;
}
.new-content,.single-content{
	width: 1120px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.new-content .flex-direction-nav,.single-content .flex-direction-nav{
	display: none;
}
.list-title ul li,.list-title1 ul li{
	float: left;
	text-align: center;
	font-size: 20px;
    font-family: '微软雅黑';
	width: 139px;
	height: 102px;
	cursor: pointer;
	line-height: 102px;
	color: #000;
}
.clearfix:before,.clearfix:after{ 
	display: table;
	line-height: 0;
	content: "";
	clear: both;
}
.index-weekday,.index-hot{
	margin: 0 0 0 0;
}
.single-content .flex-control-paging{
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: -46px;
	left: 147px;
	z-index:9999999;
}
.new-content .flex-control-paging li,.single-content .flex-control-paging li{
	float: left;
}
.new-content .flex-control-paging li a,.single-content .flex-control-paging li a{
	width: 139px;
	display: block;
	cursor: pointer;
}


*{margin:0;padding:0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
body{
	font-size:12px;
	color: #6B6A6A;
	font-family: "Arial","微软雅黑",verdana,helvetica,sans-serif;
	width:100%; 
}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
img{border:0 none;}
a{outline:none; text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}
a.aHover{ color:#2953A6;}
a.aHover:hover{text-decoration:underline; cursor:pointer;}
.clearfix{zoom:1;}
.clearfix:after{display:block; visibility:hidden; height:0px; content:''; font-size:0px; clear:both;}
.fb{font-weight:bold;}
.fl{ float:left;}
.fr{ float:right;}
.hide{display:none;}
.show{display:block;}
.white{color:#fff;}
.red{color:#f00;}
.pleft10{padding-left:10px;}
.fs14{font-size:14px;}
.cs{cursor:pointer;}
.ptop27{ padding-top:27px;}
em,i,b{font-style:normal}