@charset "utf-8";
/*全局开始*/
*{margin:0;padding:0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
body{
	font-size:12px;
	color: #6B6A6A;
	font-family: "Arial","微软雅黑",verdana,helvetica,sans-serif;
	width:100%; 
}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
img{border:0 none;}
a{outline:none; text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}
a.aHover{ color:#2953A6;}
a.aHover:hover{text-decoration:underline; cursor:pointer;}
.clearfix{zoom:1;}
.clearfix:after{display:block; visibility:hidden; height:0px; content:''; font-size:0px; clear:both;}
.fb{font-weight:bold;}
.fl{ float:left;}
.fr{ float:right;}
.hide{display:none;}
.show{display:block;}
.white{color:#fff;}
.red{color:#f00;}
.pleft10{padding-left:10px;}
.fs14{font-size:14px;}
.cs{cursor:pointer;}
.ptop27{ padding-top:27px;}
em,i,b{font-style:normal}
/*h1, h2, h3, h4, h5, h6 { font-size: 12px ;font-weight: normal;}*/

/*全局开始*/

.main{margin:0 auto; width:980px; background:#fff;}


/*elf*/
.body950{ margin:0 auto; width:990px;}
.elf_table li{
	float:left;
}
.clear{
	clear:both; height:1px;
}


/*修改客服悬窗 begin*/
.kf_right{width:37px;padding-left:1px;float:left; background:url(../img/a1.png) no-repeat right top; height:334px; position:fixed; z-index:100000;_position:absolute;top:260px; _top:expression(documentElement.scrollTop + 203);left:52%;margin-left:555px;}
.callCenter{ background:url(../img/server.png) no-repeat center center;  height:32px; background-size: contain;}
.upnew{ width:33px; margin:0 auto; height:22px; line-height:22px; width:35px; background:#3c3228; text-align:center; }
.upnew a{ color:#fff;}
.backtop{ background:url(../img/top.jpg) no-repeat center center; width:37px; height:17px; cursor:pointer;margin-top:10px;}
.kf_right_l{ height:340px;}
.kf_right_l li.classify{position:relative;  line-height:26px;width:37px;  }
.kf_right_l li.classify a.classify_a {color:#3c3228; display:block;  line-height:25px;margin:0 3px;border-bottom:1px solid #ede5e1;text-align:center;}
.kf_right_l li.classify a.classify_a:hover{ color:#f00;}

.kf_classify{ padding-right:1px; display:none;position:absolute;top:0;left:-96px; }
.kf_left{ width:93px; overflow:hidden; border:1px solid #999; z-index:1000; background:#E3E3E3;}
.kf_guwen{padding-top:6px; height:20px; line-height:20px; text-align:center; font-weight:bold; color:#3C3228; border-bottom:1px dashed #494949;}
.kf_w_one{height: auto;}
.QQis_show{margin:0 6px;}
.kf_qq,.sh_qq{margin-left:1px;}
.kf_qq img,.sh_qq img{ /*width:74px; height:22px;*/}

.kf_list_title{ text-align:left; background:url(../img/child_title.png) left center no-repeat; padding-left:10px;margin-left:9px; font-weight:bold; }
.kf_list_title a{color:#323232;}
.kf_list_title span{-webkit-text-size-adjust:none;  font-size:10px;}
.classify_children{ padding-bottom:10px;}
.classify_children li{ height:20px; line-height:20px; text-align:left;margin-left:18px;}
.classify_children li img{ position:relative; top:2px;}
.classify_children li a{ color:#323232; font-size:12px;}
.kf_right_l li a:hover{ color:#f00;}
.kf_w_one{padding-top:10px;}
.kf_w_one li{ color: #494949;font-size: 14px; margin-bottom: 1px; height:25px; line-height:25px; text-align:left; float:left; margin-left:10px;  }
.kf_left .tel p{ height:18px; line-height:18px;}
.kf_time{ height:19px; line-height:19px; text-align:center; color:#fff; background:#282828;}
.kf_w_shou{ height:42px;}
.survey{border: 1px solid #f00; text-align:center; background:#fff;}
.survey a {color: #f60;}
/*修改客服悬窗 end*/



/*页面右下角购物车*/
.tmMC {
    color: #FFFFFF; float:right;
    margin-right: 4px;
    position: relative;
    width: 66px;
    z-index: 100100;
}
.tmMCHandler {
    cursor: pointer;
    height: 31px;
    overflow: hidden;
    position: relative;
    width: 66px;
    z-index: 100001;
	background: url(../img/cat.png) no-repeat  0 0 ;
}
.tmMC .unlogin_hover {
    background-position: 0 -32px;
}

.tmMCTopBorder {
    display: none;
    height: 33px;
    left: 3px;
    top: -4px;
  background-color: #F2F2F2;
    background-image: url(../img/car_top.png);
    border: 1px solid #D6D6D6;
    position: absolute;
    width: 275px;
}
.tmMCBody, .tmMCTopBorder {
    background-color: #F2F2F2;
    background-image: url(../img/car_top.png);
    border: 1px solid #D6D6D6;
    position: absolute;
    width: 275px;
}
.tmMCBody {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: none;
    left: 3px;
    margin: 0 auto -4px;
    padding-bottom: 20px;
    padding-top: 8px;
    text-align: left;
    top: 0px; 
}

.tmMCLoading {
    background: url(../img/loading.gif) no-repeat scroll 50% 50% ;
    display: none;
    height: 20px;
    overflow: hidden;
    text-indent: -999px;
    width: 100%;
}


.tmMC .tmMCBotLink {
    color: #000000;
    cursor: pointer;
    float: left;
    height: 31px;
    line-height: 33px;
    margin-top: 1px;
    z-index: 10000109;
}
.tmMCHandler .tmMCNum {
    padding-left: 38px;
}

.tmMCHdLeft {
    cursor: pointer;
    display: none;
    float: left;
    height: 31px;
    overflow: hidden;
    position: relative;
    width: 283px;
    z-index: 100000;
	background:url(../img/icon14.png) no-repeat 0 -64px;
	opacity:0.95;  filter: alpha(opacity=95);
}
.tmMCHdLeft:hover{opacity:1;  filter: alpha(opacity=100);}
.tmMCEx {
    background-position: -220px -98px;
    display: none;
    float: left;
    height: 9px;
    margin: 13px 0 0 32px;
    overflow: hidden;
    width: 15px;
}
.tmMC .HdlOpen {
    background: none repeat scroll 0 0 transparent;
    cursor: default;
    overflow: visible;
    width: 283px;height: 31px; position: relative;z-index: 100001;
}
a.tmMCBotLink:hover{ color:#fff;}

.tmMCCon {
    margin: 0 auto 0 9px;
    height: 136px; overflow-y: scroll;
    padding-bottom: 4px;
    position: relative;
    width: 265px;
}


.tmMCGroup {
    overflow: hidden;
    width: 100%;
}
.tmMCGroupTitle {
    height: 18px;
    line-height: 18px;
    vertical-align: bottom;
}

.tmMCGroupName {
    color: #808080;
    float: left;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow:ellipsis; 
    white-space: nowrap;
    width: 220px;
}
.tmMCItemWp {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E3E3E3 #E3E3E3 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    cursor: default;
    margin: 2px 0 5px;
    width: 246px;
}

.tmMCItem {
    border-bottom: 1px solid #E3E3E3; 
    height: 56px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.tmMCItemImg {
    display: block;
    height: 50px;
    margin: 3px 0 auto 3px;
    text-align: center; 
    width: 50px; float:left; cursor:pointer;
}
.tmMCItemskuWp {
    float: left;
    height: 40px;
    margin-left: 8px;
    padding-top: 10px;
    width: 108px;float:left;
}

.tmMCItemSku {
    color: #999999;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
	-o-text-overflow:ellipsis; 
    white-space: nowrap;
    width: 100%;
}

.tmMCItemPrice {
    color: #666666;
    margin: 20px 0 0;
    text-align: right;
    width: 72px; display:block; float:left;
    word-break: break-all;
    word-wrap: break-word;
}

.tmMCItemDel {
    color: #FF0000;
    cursor: pointer;
    display: block;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 4px;
    width: 14px; background: url(../img/icon14.png) no-repeat -251px -32px ;
}

.tmMCItemDel:hover{ background-position:-237px -32px;}

.tmMCBtnArea {
    height: 30px;
    margin: 5px auto 0;
    position: relative;
    width: 100%;
}

.tmMCViewAll {
    cursor: pointer;
    display: block;
    height: 26px;
    width: 100%;background: url(../img/icon14.png) no-repeat 0 -154px;
}
.tmMCViewAll:hover{ background-position: 0 -180px;}

.tmMCAllCheckWp {
    color: #808080;
    height: 38px;
    position: relative;
    width: 100%;
	display:block;
}
.tmMCViewFull {
    display: block;
    height: 26px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    top: 0; cursor:pointer;
    width: 112px;background: url(../img/icon14.png) no-repeat 0 -128px;
}
.tmMCViewFull:hover{ background-position: -113px -128px;}
.emptyCartTime { display:block; color:#000; text-align:center; height:26px; line-height:26px; background:url(../img/emptyCart.png) no-repeat center top;margin-top:15px;}
.emptyCartTime:hover{ background-position:center -26px;}
/*页面右下角购物车end*/



/*登录框*/
.tml-dialog{
    height: 350px;
    left: 50%;
    margin: -170px 0 0 -206px;
    position: fixed;
    top: 50%;
    width: 412px; 
    z-index: 99000;
	_position:absolute; _top:expression(documentElement.scrollTop + (documentElement.clientHeight - this.offsetHeight)/2 );
	_margin-top:0;
}
.backgroundLogin{ width:100%; height:100%;background:#716564; position:absolute; left:0; top:0; z-index:10; opacity: 0.4; filter:alpha(opacity=40);}
.tml-dialog .tml-contentbox {
    background:#FFFFFF;position:absolute; left:10px; top:10px; z-index:100;
    border: 1px solid #908B8B;
    height: 323px;width: 392px; 
    overflow: hidden;
}
.tml-dialog .tml-stdmod-header {
    height: 60px;
	position:relative; z-index:100;
     background:url(../img/goods_login_logo.jpg) left top no-repeat #000;
}

.tml-dialog .tml-stdmod-body {
    overflow: hidden;background:  #FAFAFA;
}

.tml-dialog .tml-ext-close {
    display: block;
    height: 16px;
    line-height: 99em;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 17px;
    z-index: 3;background:url(../img/icon10.png) 0 -25px no-repeat;
}
table.goodsLoginTable .loginBoxLeft{ text-align:right; width:32%; padding-right:15px;}
table.goodsLoginTable .loginBoxRight{ text-align:left; width:68%;}
table.goodsLoginTable .loginUser{ height:24px; line-height:24px; width:180px; border:1px solid #c8c8c8; padding-left:5px;}
table.goodsLoginTable{ margin-top:13px;}
table.goodsLoginTable td{padding:5px 0;}
.J_SubmitStatic{ background:url(../img/icon11.png) 0 -100px no-repeat;border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 27px;
    line-height: 100px;
    margin-right: 6px;
    overflow: hidden;
    vertical-align: middle;
    width: 86px;}
.J_SubmitStatic:hover{ background-position:-128px -100px;}
.tml-dialog .forget-pw {
    color: #666;
    line-height: 26px;
    vertical-align: middle;
}
.tml-dialog .forget-pw:hover {
    color: #2953A6; text-decoration:underline;
}

.login-tips .login-tips-content {
    padding: 0 3px;
}
.long-login-help {
    background-position: -325px -367px;
    display: inline-block;
    font-size: 0;
    height: 12px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 12px;background-image: url(../img/icon11.png); margin-top:-2px;
}
.login-box .safe {
    height: 56px;margin-top:10px;
}
.long-login {
    color: #999999;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px 0 2px 3px;
    position: relative;
    vertical-align: middle;
    z-index: 5;
} 
.long-login-hover{ background:url(../img/longlogin.png) 0 4px no-repeat;}
.safe input {
    margin-right: 6px; vertical-align: middle;*position:relative;left:-4px;
}
.safe label {
    color: #AAAAAA;
    vertical-align: middle; line-height:22px;
}

.long-login-help {
    background-position: -325px -367px; background-image: url(../img/icon11.png);
    display: inline-block;
    font-size: 0;
    height: 12px;
    overflow: hidden;
    text-indent: -1000px;
    vertical-align: middle;
    width: 12px;
}
.login-tips {
    color: #990D1B;
    top: -3px;  background-color: #FFFFFF;
    background-position: 0 -26px;
    border: 1px solid #CCCCCC;
    border-radius: 0 4px 4px 4px;
    clear: both;
    color: #CA3E12;
    display: none;
    height: 28px;
    line-height: 14px;
    padding: 0 5px;
    position: relative;
    width: 170px;
    word-wrap: break-word;
}
.login-tips .login-tips-content {
    padding: 0 3px;
}

ul.entries {
    background-color: #FAFAFA;
    margin: 0 auto;
    padding-left: 54px;background-position: 0 -258px;
    height: 18px;padding-top:12px;
    width: 225px; background-image: url(../img/icon11.png);
	
}
ul.entries .dynamic-pwd {
    background-position: -321px -196px;    padding-left: 23px;
}

ul.entries li {
    background-position: -337px -224px;
    float: left;
    padding: 0 10px;
    word-break: keep-all;background-image: url(../img/icon11.png);
}
.mobile-num {
  background: url(../img/icon12.png) no-repeat  174px -164px;
    width: 182px;
}
ul.entries .static-pwd {
      padding-left: 23px;background: url(../img/icon11.png) -321px -165px no-repeat;
}
.login-msg {
    margin: 0 auto;
    width: 276px;border:1px solid #f00; margin-top:15px;
}
.msg p.error {
    line-height: 20px; background: url(../img/icon11.png) -319px -448px no-repeat;
	background-color: #FFF2F2;
    border-color: #FF8080;
    padding: 2px 10px 2px 23px;
}
.forget_pw:hover {
    color: #2953A6; text-decoration:underline;
}
/*登录框*/
.loading_img { background: url(../img/loading.gif) no-repeat scroll 50% 50% ;}





/*共用翻页样式begin*/
.ellipsis{overflow: hidden;text-overflow: ellipsis;-o-text-overflow:ellipsis; width:100%;white-space: nowrap; text-align:center;}
.goodsPage {
    float: right;
}
.goodsPage a{
	 float: left; background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #0033CC;
    height: 20px;
    line-height: 20px;
    margin: 0 3px 0 0;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.goodsPage a:hover{ background:#09f; color:#fff;}
.goodsPage a.page_cur{background: #FFF;border-color: #FFF; color: #FF6600; cursor: default; font-weight: 700;}
.goodsPage a.page_cur:hover{background: #FFF;color: #FF6600;}
.goodsPage input {
    border: 1px solid #A7A6AA;
    height: 16px; font-size: 100%;
    margin: 0 0.5em;
    padding: 0 3px;
    text-align: center;
    width: 25px;
}

.goodsPage  button {
    background: url(../img/button.png) no-repeat  0 0;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    margin-top: 0;
    text-align: center;
    width: 80px;
}
.skipGoodsPage{ float:left; position:relative; top:-4px; color:#000;}
/*共用翻页样式end*/





/*产品列表首页和杂志*/
.makeUp{margin-right:-8px; _margin-right:-4px; float:right;}
.makeUp li{ float:left; height:39px; line-height:39px; padding:0 12px;}
.makeUp li a{color:#959595;}
.makeUp li a:hover{text-decoration:underline;}
.underline{text-decoration:underline;}
.more_bg{background:url(../img/more_bg.gif) no-repeat right center;}
.lookUpSuit{margin-bottom:8px;}
.lookUpSuit li.upSuit_li{margin-top:25px; width:184px; padding:0 3px; float:left;  background:#fff; }

.lookUpSuit_in a img{ width:182px; height:249px;}

.particularSuit{padding:0px 3px 7px 9px;}
 .goodsPrice{color:#444;  height:15px; line-height:15px; overflow:hidden; text-overflow:ellipsis;-o-text-overflow:ellipsis;  white-space:nowrap; width:180px; font-size:13px; margin-top:4px;}


.particularSuit_bg{  background-color:#fff;}
.minuteSpan{line-height:15px;color:#282828;}

.productDetails{_height:30px;max-height:30px;overflow:hidden;}
.clothingColor{ font-size:0px; overflow:hidden; width:180px;height:20px; margin-top:5px;}
.clothingColor img{ float:left; width:20px; height:20px;}


.imgTitleName{ height:48px; overflow:hidden;}
.imgTitleName a:hover{ text-decoration:underline;}

.lookUpSuit_img{ display:block; position:relative;width:180px; height:249px; overflow:hidden;}
.lookUpSuit_img img{width:180px; height:249px;}
.minutePTitle{ width:170px; height:48px; line-height:24px;  overflow:hidden; text-overflow:ellipsis; /*white-space:nowrap;*/ }
/*产品列表首页和杂志*/
.s_1{ background:url(../img/sort_page.gif) -208px 50%;}
.x_1 {background:url(../img/sort_page.gif) -212px 50%;}
/*.s_x_l,.s_l,.x_l{ float:right;}*/
/*2012,6,11 cyc*/
.product_list{border:1px solid #000;}
.clearfix{zoom:1;}
.clearfix:after{display:block; visibility:hidden; height:0px; content:''; font-size:0px; clear:both;}
.amount_bg_left{ background:url(../img/amount-bg.png) no-repeat left top;width:18px; height:13px;  font-size:0px; cursor:pointer;display:block; float:left;margin:4px 7px 0 10px;}
.amount_bg_right{ background:url(../img/amount-bg.png) no-repeat left -13px;width:18px; height:13px;font-size:0px; cursor:pointer;display:block; float:left;margin:4px 0px 0 7px;}
.fl{float:left;}
.w120{width:120px;margin:0 auto;}
.posi3{position:relative;top:3px;}
.pright15{padding-right:15px;}
.pleft15{padding-left:15px;}
.choose_goods{margin-top:10px;}
.choose_goods li{border-bottom: 1px dashed #999999;  }
.choose_goods li .choose_goods_span{line-height:35px; }
.choose_goods li a{ margin:0 8px; padding:3px;}
.choose_goods_a{background:#4E4E4E; color:#fff;border:1px solid #333333;}
.bank_logo{margin-left:0;}
.bank_logo li{float:left; padding:3px 0px;}
.bank_logo li img{width:136px; height:40px;}
/*2012,6,11 cyc*/


/*购买后的商品评论begin*/
.goods_buy_comment{ height:30px; line-height:30px; text-align:left; }
.J_selectImage_btn{border-right: #7b9ebd 1px solid;padding-right: 2px;border-top: #7b9ebd 1px solid;padding-left: 2px;font-size: 12px;height:25px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#ffffff,  EndColorStr=#cecfde);border-left: #7b9ebd 1px solid;
cursor: hand;color: black;padding-top: 2px;margin-top:5px;border-bottom: #7b9ebd 1px solid;}
/*购买后的商品评论end*/



/*友情连接*/
.LinkR { padding-top:10px; font-size:13px; font-weight:bold;}
.LinkR li { float:left; margin:5px;}
.LinkR li a:hover{ color:#f00;  }
.Link_name { font-size:16px; font-weight:bold; height:30px; line-height:30px; margin-top:10px; border-bottom:1px solid #000;}
.Link_name_t { height:37px; line-height:37px ; font-size:18px ; font-weight:bold; background:url(../img/bg_right_box_top.png) no-repeat; text-indent:30px;}
.Link_name_f p { height:30px; line-height:30px;}

/*公用头部*/


/*new year title begin*/
#head {
	width: 100%;
}
#head .title1 {
	background: url(../img/header_bg.jpg) center bottom no-repeat;
	width: 100%;
	height: 144px;
}
.loginWeibo {
	height: 29px;
	line-height: 23px;
}
.loginWeibo .elf_table {
	height: 100%;
}
.loginWeibo .elf_table li {
	margin: 0 10px;
}
#head .title1 .titlewidth {
	height: 114px;
}
#head .title1 .titlewidth .loginWeibo a {
	color: #000;
	margin: 0px;
}
#head .title1 .titlewidth .loginWeibo a:hover {
	text-decoration: none;
	color: #cd9368;
}
#head .title1 .titlewidth2 {
	width: 1020px;
	margin: 0 auto;
}
#head .title1 .titlewidth2 .logo {
	text-align: center;
}
#head .title1 .titlewidth2 #searchForm {
	float: left;
}
.color454344 {
	color: #000;
}
.signUp {
	background: url(../img/cart_bg.jpg) no-repeat 0px -2px;
	padding-left: 20px;
}
.hotline {
	background: url(../img/tel_bg.jpg) no-repeat left -2px;
	padding-left: 18px;
}
.myLogin {
	color: #695D4F;
	float: left;
	display: block;
	margin-right: 10px;
	font-weight: 900;
}
.myLogin a {
	color: #695D4F;
}
.shopingBag {
	float: right;
	border: 1px solid #bababa;
	height: 19px;
	line-height: 19px;
	width: 75px;
	margin-top: 3px;
	background: url(../img/shopingBag.gif) no-repeat 11px center;
	background-color: #fff;
	padding-left: 35px;
}
.title2 {
	height: 40px;
	background: #000;
}
.navigation {
	float: left;
	text-align: center;
}
.navigation li.parentLi {
	height: 30px;
	line-height:26px;
	position: relative;
	z-index: 9999;
	float: left;
}
.navigation li a.allTitle {
	color: #fff;
	margin: 0 30px;
	font-size: 16px;
	font-family: '微软雅黑';
}
.navigation li a.allTitle:hover {
	color: #fff;
}
.navigation li a.desktop {
	color: #f00;
	padding: 0 12px;
	line-height: 40px;
	display: block;
	float: left;
	font-size: 13px;
}
.navigation li a.desktop:hover {
	color: #f60;
}
/*elf*/
.nav_right .desktop {
	color: #f00;
	display: block;
	float: left;
	font-size: 13px;
}
.nav_right .desktop:hover {
	color: #f60;
}
/*elf*/

.nav_right {
	float: right;
}
.nav_right ul li {
	float: left;
}
.nav_right ul li a {
	color: #fff;
}
.nav_right ul li a:hover {
	color: #f00;
}
.navigationSearch {
	float: right;
	width: 200px;
	height: 51px;
	padding: 29px 0 0 13px;
	border-right: 1px solid #494949;
}
.keywords {
	border: 1px solid #666;
	color: #666666;
	height: 18px;
	line-height: 18px;
	width: 129px;
	background: #f4f4f4;
	float: left;
	padding-left: 4px;
}
.searchKeyword {
	cursor: pointer;
	height: 18px;
	width: 45px;
	border: none;
	float: left;
	margin-left: 2px
}
input.flashBg {
	background: #000;
}
.loginStatus {
}
#showsearch {
	border: 1px solid #7F6B60;
	width: 203px;
	background: #fff;
	position: absolute;
	right: 0px;
	top: 17px;
	z-index: 99999;
	color: #000;
	display: none;
}
#showsearch li a {
	display: block;
	width: 193px;
	margin: 0px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#showsearch li a:hover {
	background: #980101;
	color: #fff;
}
#showsearch li a.cur {
	background: #980101;
	color: #fff;
}
.navigationSearch span {
	float: left;
	cursor: pointer;
	color: #fff;
	padding: 1px 25px 2px 7px;
	background: url(../img/navigationSearch.gif) no-repeat right center;
}
.loginStatus2 {
	width: 1050px;
	margin: 0 auto;
}
.childrenUl {
	background: #FFF;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 10000;
	display: none;
	width: 240px;
	border: 1px solid #f7f7f7;
	border-top: 0px;
	height: 228px;
}
.childrenUl_content {
	background: url(../img/navChild.png) no-repeat 36px -3px;
	padding-top: 25px;
}
.childrenUl .childrenUl_title {
	text-align: left;
	background: url(../img/child_title.png) left center no-repeat;
	padding-left: 10px;
	margin-left: 48px;
	font-weight: bold;
	color: #323232;
}
.childrenUl .childrenUl_title a {
	color: #323232;
}
.childrenUl .childrenUl_title a:hover {
	color: #f00;
}
.childrenUl_content ul { /*padding-bottom:30px;*/
}
.childrenUl_content .childrenUl_img {
	position: absolute;
	top: 158px;
	left: 0px;
}
.childrenUl_content_93 {
	background: url(../img/navChild.png) no-repeat 28px -3px;
	padding-top: 25px;
}
.childrenUl .childrenUl_title span {
	-webkit-text-size-adjust: none;
	font-size: 10px;
}
.childrenUl li {
	height: 24px;
	line-height: 24px;
	text-align: left;
	position: relative;
	margin-left: 58px;
}
.childrenUl li a {
	color: #323232;
	font-size: 12px;
	display: block;
	float: left;
}
.childrenUl li a:hover {
	color: #f00;
}
.childrenUl li img {
	float: left;
	margin-top: 6px;
	margin-left: 2px;
}
#alltreasure {
	width: 980px;
	left: -137px;
}
#alltreasure .childrenUl_content {
	float: left;
	background: none;
}
#alltreasure .alltreasure_title {
	background: url(../img/navChild.png) no-repeat 173px -3px;
}
#J_TMiniCart {
	position: fixed;
	right: 0px;
	bottom: 0px;
	_position: absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
	z-index: 10000000;
}
.fnDiv {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.fnDivUl {
	float: left;
}
.fnDivUl li {
	float: left;
	height: 34px;
	line-height: 34px;
	background: #494949;
	width: 73px;
	border-right: 1px solid #2f2f2f;
	text-align: center;
}
.fnDivUl li.fnDivUlBg {
	background: url(../img/fooderLi_bg.gif) no-repeat center top;
}
.fnDivUl li a {
	color: #b3b3b3;
}
.fnDivUl li.fnDivUlBg a {
	color: #fff;
}
.contactCall_a {
	position: absolute;
	top: -12px;
	left: 593px;
	margin: 0 10px 0 17px;
	width: 272px;
	height: 43px;
	background: url(../img/contactCall.png) no-repeat center top;
	float: left;
	background-repeat: no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.girdear.cn/themes/default/img/contactCall.png');
    _ background-image: none;
}
.backTop2 {
	color: #7a7a7a;
	display: block;
	width: 57px;
	float: right;
	height: 20px;
	padding-top: 14px;
	text-align: center;
	background: url(../img/backTop.gif) no-repeat center center;
	font-size: 10px;
}
.backTop2:hover {
	color: #f00;
}
ul.navigation li.all_product {
	width: 190px;
	position: relative;
	z-index: 100;
}
ul.navigation li.all_product .product_list {
	display: none;
	position: absolute;
	top: 29px;
	left: 0;
	width: 100%;
	background: #323232;
	padding-bottom: 20px;
	border: none;
}
ul.navigation li.all_product .popup_icon {
	background: url(../img/pupop.png) -74px -98px no-repeat;
	float: right;
	margin-right: 15px;
	display: inline-block;
	margin-top: 7px;
	width: 13px;
	height: 13px;
}
.product_row {
	height: 28px;
	line-height: 28px;
	position: relative;
}
.product_row a.product_row_name {
	color: #fff;
	display: inline-block;
	width: 150px;
	padding-left: 40px;
	text-align:left;
	border-bottom: 1px solid #0C0C0C;
	border-top: 1px solid #4D4D4D;
}
.three_nav {
	display: none;
	position: absolute;
	top: 0px;
	left: 189px;
	padding: 5px 0;
	background: #323232;
	width: 190px;
}
.three_nav .three_nav_child a {
	background: url(../img/three_nav.png) 50px center no-repeat;
	color: #FFFFFF;
    display: block;
    height: 26px;
    line-height: 26px;
    padding-left: 60px;
	text-align:left;
}
.three_nav .three_nav_child a:hover {
	background: url(../img/three_nav.png) 50px center no-repeat #4d4d4d;
}
ul.navigation li.all_product:hover .popup_icon {
	background-position: -91px -98px;
}
.product_row a.product_row_child {
	background: url(../img/right.png) 168px center no-repeat;
	
}
.product_row a.product_row_child:hover {
	background: url(../img/right.png) 168px center no-repeat;
}
/*new year title end*/
/*公用头部*/

.childrenUl_content_17 ul li {
	margin-left: 58px;
	width: 60px;
	float: left;
}
/*页面底部*/
#footer{width:100%;overflow: hidden;}
.footer_main{ width:950px; margin:0 auto; position:relative; }
.footerImg{}
.footerImg li{ background:url(../img/footer.jpg) no-repeat left top; height:61px; float:left;}
.footerImg li.li_1{ width:107px; background-position:left -61px;}
.footerImg li.li_2{ width:136px; }
.footerImg li.li_3{ width:129px; background-position:left -121px;}
.footerImg li.li_4{ width:121px; background-position:left -183px;}
.footerImg li.li_5{ width:119px; background-position:left -244px;}
.footerImg li.li_6{ width:135px; background-position:left -305px;}
.footerImg li.li_7{ width:100px; background-position:left -366px; position:relative;}
.footerImg li.li_8{ width:116px; background-position:left -427px;}
.friendlink{ display:none;  position:absolute;top:-55px;left:-763px; background:#2e2e2e;  height:45px; overflow:hidden; width:960px; padding:5px 10px;}
.friendlink span{ font-size:14px; font-weight:bold; }
.friendlink a{margin:0 5px; color:#fff; line-height:21px;}
.friendlink a:hover{ text-decoration:underline;}
.friendlink a.onemove{margin-left:10px; font-size:14px; color:#f00;}
.copyright{ text-align:center; color:#7e7e7e; padding:21px 0 38px 0; height:24px; line-height:24px;}
.copyright a{color:#7E7E7E;}
#friendlink a.moveFriendlink{ width:100%; height:100%; display:block;}
/*页面底部*/

.foot_more{ height:160px; padding-top:50px;}
.foot_more{ padding-left:94px;}
.elf_booking .elf_table{ margin-left:160px; margin-top:40px;}
.elf_booking .elf_table input{ color:#909090; height:20px; border:0px; margin-right:4px;}
.elf_booking .elf_table li{ color:#000000; line-height:20px;}
.elf_booking .elf_table #anycall{ margin-left:120px;}

.friend_link{ margin-left:80px;}