@charset "utf-8";

/*全局设置*/
.public-sprite{background:url(../images/topnew/public-sprite.png) no-repeat;background-size:31px 42px} 


/*头部*/
.header{height:32px;line-height:32px;font-size:12px;color:#999;background-color:#f6f6f6}
.header>div{position:relative}
.header>div>img{display:inline-block;float:left;width:222px;height:32px}

/*头部左边*/
.header-welcome{float:left;margin-left:20px;height:0;}
.header-welcome>a{margin-right:14px;}

/*头部右边*/
.header-quick-entry{float:right}.header-quick-entry>a,.header-quick-entry>div{position:relative;float:left;display:inline-block;padding:0 16px}
.header-quick-entry>a:hover,.header-quick-entry>div:hover{color:#cd9368;overflow:initial}
.header-quick-entry>div:hover{padding:0 23px 0 15px;background-color:#fff;border-left:1px solid #ddd;border-right:1px solid #ddd}
.header-quick-entry>div:hover+a>span,.header-quick-entry>div:hover>span{visibility:hidden}
.header-quick-entry>div{padding-right:24px;cursor:pointer}
.header-quick-entry>div:after{content:'';position:absolute;right:9px;top:14px;width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #666;border-bottom:none;-webkit-transition:-webkit-transform .2s ease-in;transition:transform .2s ease-in}
.header-quick-entry>a>span,.header-quick-entry>div>span{position:absolute;display:inline-block;left:0;top:0;height:100%;color:#999}
.header-quick-entry>a>i{position:relative;display:inline-block;margin-right:6px}
.header-icon-jifen{width:15px;height:14px;background-position:-15px 0; display:inline-block; top:1px; position: relative;display:inline-block; margin-right:4px;}
.header-icon-tel{top:2px;width:10px;height:12px;background-position:0 -1px;}
.header-icon-phone{top:1px;width:9px;height:12px;background-position:0 -27px}
.header-icon-weixin{top:1px;width:15px;height:12px;background-position:-16px -26px}
.header-entry-box:hover:after{border-left:5px solid transparent\9;border-right:5px solid transparent\9;border-top:none\9;border-bottom:5px solid #666\9;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.header-entry-box:hover>label{position:absolute;display:inline-block;left:0;top:32px;width:100%;border-bottom:2px solid #fff;z-index:2}
.header-entry-box:hover>p{height:128px;border:1px solid #ddd;border-top-width:0}
.header-entry-box>p{position:absolute;top:32px;left:-1px;width:100%;height:0;-webkit-box-sizing:content-box;box-sizing:content-box;background-color:#fff;overflow:hidden;-webkit-transition:height .2s;transition:height .2s;z-index:2}
.header-entry-box .header-coupon{margin-left:6px;color:#cd9368;font-weight:600}
.header-entry-box a{color:#888}
.header-entry-box>p>a{display:block;margin:8px 0 12px 0;padding-left:16px;line-height:12px}
.header-entry-box>p>a+a{margin-top:12px}
.header-entry-box>p>a:hover{color:#cd9368}
.header-entry-qr:hover 
.header-qr-box{z-index:99999;padding:14px 0;height:166px;overflow:initial;border:1px solid #ddd;-webkit-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc}
.header-qr-box{z-index:99999;position:absolute;top:30px;left:-14px;width:130px;height:0;background-color:#fff;text-align:center;-webkit-transition:height .2s;transition:height .2s;cursor:default;z-index:2;overflow:hidden}
.header-qr-box:after{position:absolute;content:'▲';left:56px;bottom:180px;color:#fff}
.header-qr-box>h2{margin-top:10px;line-height:14px;font-size:14px;color:#333}
.header-qr-box>p{margin-top:4px;line-height:12px;color:#cd9368}

/*头部下拉框*/
.header-entry-box:hover .header-nav-box{padding:20px 0;height:272px;border:1px solid #ddd;z-index:10}
.header-nav-box{position:absolute;top:32px;right:-1px;width:1020px;height:0;background-color:#fff;z-index:4;cursor:default;-webkit-transition:height .2s;transition:height .2s;overflow:hidden}
.header-nav-box>li{float:left;height:220px}
.header-nav-box>li+li{border-left:1px solid #ccc}
.header-nav-box>li>h2{margin-bottom:23px;padding:0 30px;color:#333;font-size:16px;line-height:16px; text-align: center; font-weight:600;}
.header-nav{width:124px}
.header-nav .header-nav-list>a{width:100%}
.header-nav-list{padding:0 30px}
.header-nav-list>a{float:left;display:block;height:24px;line-height:24px;color:#999;font-size:12px; text-align:center;}
.header-nav-list>a:hover{color:#cd9368;text-decoration:underline}




/*底部*/
.new-user-info{float:left;width:225px;height:140px}
.new-user-info>li{float:left;width:110px; height:140px; border-right:1px dashed #ddd; text-align:center;}
.new-user-info>li>h3{margin-bottom:12px;line-height:16px;font-size:16px;font-weight:600;color:#444}
.new-user-info>li>a{display:block;line-height:28px;color:#999}
.new-user-info>li>a:hover{color:#cd9368;text-decoration:underline}
.shaoma{height:200px; padding:30px 0;}
.user-serve-tel{float:left;height:140px;border-left:1px dashed #ddd;border-right:1px dashed #ddd;text-align:center}
.user-serve-tel>img{display:block; margin:0 auto;}
.user-serve-tel>a{display:inline-block;margin:16px 5px;width:65px;height:30px;line-height:30px;text-align:center;border:1px solid #cd9368;border-radius:4px;color:#cd9368}
.user-serve-tel>a>i{position:relative;display:inline-block;bottom:2px;margin-right:4px;width:14px;height:13px;background-position:0 -157px;vertical-align:middle}
.footer-qr-pic{float:right;height:140px}
.footer-qr-pic>li{float:left;width:96px;text-align:center}
.footer-qr-pic>li+li{margin-left:44px}
.footer-qr-pic>li>h3{margin-bottom:12px;line-height:16px;height:16px;color:#484848;font-size:16px}
.footer-link{margin-bottom:20px;padding:20px 0 0 0;height:49px;overflow:hidden;border-top:1px solid #ddd; text-align:center;}
/*.footer-link:hover{overflow:auto;height:auto}*/
.footer-link a{display:inline-block;margin:0 10px;font-size:12px;line-height:28px}
.footer-link a:hover{color:#cd9368}
.footer-link b{display:inline-block;line-height:28px;font-size:12px;color:#999}
.footer-about-us{text-align:center}
.footer-about-us>p>a,
.footer-about-us>p>span{padding:0 12px;color:#5e5e5e;font-size:12px}
.footer-about-us>p>a+a,
.footer-about-us>p>span+span{border-left:1px solid #ddd}
.footer-about-us>p>a:hover{color:#cd9368;text-decoration:underline}
.footer-about-us>p{line-height:12px;margin-bottom:16px;color:#5e5e5e}
.footer-certificate{margin-top:4px;padding-bottom:20px}
.footer-certificate>a{display:inline-block}
.footer-certificate>a+a{margin-left:8px}
.footer-certificate-one{width:96px;height:32px}
.footer-certificate-one>img{margin:2px 0;width:auto;height:32px}
