#footer iframe{
    height:320px;
}
#header iframe{
    height:100px;
    margin-bottom:20px;
}

#header{

}
#banner>img{
    width:960px;
}

#product-list{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
}
#plist{
    width:740px;
    min-height:200px;
	margin: 0 auto;
}

#plist>p.title{
    font:16px "simhei";
    padding-left:20px;
    height:40px;
    line-height:40px;
    color:#808080;
    background:linear-gradient(to bottom,#f0f0f0,#e0e0e0);
}
#show-list{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top:20px;
    background-color:#fff;
    padding:10px 10px;
}
#show-list>li{
    width:230px;
    margin-bottom:20px;
    border:1px solid #ddd;
    text-align:center;
    box-sizing:border-box;
    padding:0 10px 10px;
}
#show-list>li:hover{
    box-shadow:0 0 5px #ddd;
}
#show-list>li img{
    width:90%;
    transition:all 1s;
}
#show-list>li img:hover{
    transform:scale(1.1);
}
#show-list>li span.price{
    display:block;
    font-weight:bold;
    color:#0aa1ed;
    font-size:16px;
}
#show-list>li>p{
    text-align:left;
}
#show-list>li>p>a{
    font-size:14px;
    line-height:1.2;
    color:#808080;
}
#show-list>li>p{
    margin-bottom:15px;
}

#show-list>li>div>span:hover,.cart_content>div>div>span:hover{
    background:linear-gradient(to bottom,#bbb,#b3b3b3);
}
#show-list>li>div>input{
    width:25px;
    height:24px;
    box-sizing:border-box;
    border:none;
    text-align:center;
    outline:none;
    margin:0 3px;
    position:relative;
    bottom:4px;
}

#show-list>li>div>a:hover{
    background:linear-gradient(to bottom,#25a7e9,#0998df);
}


/*购物车*/



#cart div.cart-result span{
	font-size:16px;
	color:#fff;
}


#cart div.cart-content{
	background:#fff;
}

.total_price{
    line-height:50px;
    color:#fff;
    font-size:2em;
}
#pages{
    padding:0px 20px;
    text-align:right;
    background:linear-gradient(to top , #f5f4f5,#e6e6e5);
    height:40px;
    line-height:40px;
}
#pages a{
    padding:4px 10px;
    border:1px solid #ddd;
    border-radius:4px;
    color:#0aa1ed;
}
#pages a.current{
    border-color:#0aa1ed;
    background:#0aa1ed;
    color:#fff;
}
#pages a.disabled{
    color:#bfbfbf;
    background:#f2f2f2;
    border:1px solid #bfbfbf;
}